#root{
  font-family: 'arial', sans-serif;
}

.rojo{
  background-color: red !important;
  color: white;
}

.transparente{
  background-color:transparent;
  color: white;
}

div#Matrix{
  width: 100%;
  height: 380px;
  background:black;
  padding-top: 4px;
  cursor: initial;
}

div:focus{
  outline: none;
}

.botones{
  width: 26px;
  height: 26px;
  margin: 8px auto;
  border-radius: 50%;
  cursor: pointer;
  background: white;
}

.envLed{
  width: 40px;
  height: 40px;
  background: black;
  display: inline-block;
  margin: 0px 2px;
  cursor: initial;
  border:1px solid black
}

.footer{
  background:gray;
  height: 40px;
  margin-top:-6px;
}

.footer h1{
  color: white;
  padding: 8px 6px;
  text-align: center;
  font-size: 18px;
  font-family: 'arial', sans-serif;
}

.panelControl{
  display: flex;
  margin-top:8px;
  padding: 2px 4px;
  border:1px solid black;
}

button{
  justify-content: center;
  height: 20px;
  cursor: pointer;
}

.slider-container{
  display: flex;
  width:20%;
  height:30px;
  border:1px solid white;
  margin-left:8px;
}

.slider-container p{
  font-size: 18px;
  font-weight: 500;
  color:white;
  margin:auto;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}